# cmd 명령크롬프트 : dir
    
#    pip install pymysql 실행해줌

### heidiAQL 가서 새로운 데이터베이스 생성

이름 : arconschool => utf8 general.ci

# import pymysql 네트워크 접속을 해주자

In [2]:
import pymysql
# 네트워크 접속





#네트워크 커넥트

conn = pymysql.connect(host='192.168.1.248',
                      user='root', port=3306, password='123', db='acornschool',
                      charset='utf8mb4', use_unicode=True, cursorclass=pymysql.cursors.DictCursor)



cur = conn.cursor()
#cursor 처리를 해줘야 내가 원하는 데이터를 가져다가 가리킴




# 테이블 만들어라 명령어 CREATE : DDL 언어
cur.execute( """CREATE TABLE pet (id INT NOT NULL AUTO_INCREMENT, 
            name VARCHAR(20), 
            owner VARCHAR(20), 
            species VARCHAR(20), 
            sex CHAR(1), 
            birth DATE, death DATE, 
            PRIMARY KEY (id)) ENGINE=InnoDB AUTO_INCREMENT=1""")
print(cur.description)
conn.close
#open 해주면 꼭 close 해줘야함

InternalError: (1050, "Table 'pet' already exists")

#  data 입력

In [38]:
import pymysql
# 네트워크 접속
conn = pymysql.connect(host='192.168.1.248',
                      user='root', port=3306, password='123', db='acornschool',
                      charset='utf8mb4', use_unicode=True, cursorclass=pymysql.cursors.DictCursor)

cur = conn.cursor()

# 만든 테이블에 데이터 value 넣기
# 1. 대표문을 아예 만들어서 데이터를 넣는 방법
sql = '''INSERT INTO pet (name, owner, species, sex, birth, death)
      VALUES(%s, %s, %s, %s, %s, %s)'''
cur.execute(sql, ('유리', 'acorn', '고양이', 'f', '2014-1-1', '2016-2-1'))
cur.execute(sql, ('귀염', 'acorn', '강아지', 'f', '2014-3-1', '2016-9-1'))
cur.execute(sql, ('돌이', 'acorn', '곰', 'f', '2014-8-1', '2018-2-1'))
conn.commit()

# 데이터 실행후 반드시 commit 해줄것

# DB:NULL -> python:None

In [37]:
# 2. 데이터를 list 상태로 한번에 넣을때 many
cur.executemany(
    """INSERT INTO pet (name, owner, species, sex, birth, death)
      VALUES(%s, %s, %s, %s, %s, %s)""", #리스트로 넣어줌
    [('대한','민주', 'cat', 'f', '2001-02-04', None), #DB:NULL -> python:None
    ('민국','자유', 'cat', 'f', '2010-03-17', None),
    ('만세', '민주', 'cat', 'f', '2015-08-27', None),
    ('하자', '민주', 'cat', 'm', '2010-05-13', None),
    ('성공', '자유', 'cat', 'm', '2017-08-31', '2018-04-29')
    ])
conn.commit



print(cur.rowcount) #에러가 난건지 다 들어간건지 확인하는 방법 => rowcount
cur.close()
conn.close

5

In [ ]:
여기까지 하면 pet 이라는 테이블에 내가 원하는 데이터 값 모두 들어감

# 데이터 가져오기

In [45]:
conn = pymysql.connect(host='192.168.1.248',
                      user='root', port=3306, password='123', db='acornschool',
                      charset='utf8mb4', use_unicode=True, cursorclass=pymysql.cursors.DictCursor)

cur = conn.cursor()






cur.execute( 'select * from pet' ) #RecordSet 생성
print(cur.rowcount) #8
cur.description #설명

cur.fetchone()
cur.fetchone()
cur.fetchone() # 3개를 가져오고
recs = cur.fetchmany(2) # 2개를 가져오면 총 5개
for rec in recs:
    print (rec)
recs = cur.fetchall() # 나머지 3개 가져옴 = 총 8개
for rec in recs:
    print (rec)
    
    
    
    
    
cur.close()
conn.close()

8
{'id': 43, 'name': '대한', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 2, 4), 'death': None}
{'id': 44, 'name': '민국', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'death': None}
{'id': 45, 'name': '만세', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2015, 8, 27), 'death': None}
{'id': 46, 'name': '하자', 'owner': '민주', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2010, 5, 13), 'death': None}
{'id': 47, 'name': '성공', 'owner': '자유', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2017, 8, 31), 'death': datetime.date(2018, 4, 29)}

In [ ]:
# 문제 : 생일이  2015-01-01이후인 pet을 출력하시오
# SQL 에서 쿼리문에서 일단 실행해줘야함

# 쿼리문
# 생일이  2015-01-01이후인 pet을 출력하시오
SELECT * FROM pet WHERE birth >'2015-01-01';

In [59]:
conn = pymysql.connect(host='192.168.1.248',
                      user='root', port=3306, password='123', db='acornschool',
                      charset='utf8mb4', use_unicode=True, cursorclass=pymysql.cursors.DictCursor)

cur = conn.cursor()




cur.execute("""select * from pet where birth > '2015-01-01';""")
# 생일이  2015-01-01이후인 pet을 출력하시오 => 내가 원하는 데이터를 print 하는 for 반복문 만듦
row = cur.fetchall()
for pet in row:
    pet_val = list(pet.values())
    print("ID=%d, Name=%s, 주인=%s" % (pet_val[0], pet_val[1], pet_val[2]) )

ID=45, Name=만세, 주인=민주
ID=47, Name=성공, 주인=자유

In [60]:
# 문제 : 유리를 초심 update 하시요

sql = 'update pet set name=%s  where name= %s'
cur.execute(sql, ('초심', '유리'))

conn.commit() # 반드시 commit
print(cur.rowcount)

1

In [61]:
# 문제 : 유리를 삭제하시요 (쿼리를 일반화)
sql = 'delete from pet where name = %s'
cur.execute(sql, '초심')


conn.commit()
print(cur.rowcount)


cur.close()
conn.close

1

# pet_select 저장프로시져 만들어줌

In [63]:
conn = pymysql.connect(host='192.168.1.248',
                      user='root', port=3306, password='123', db='acornschool',
                      charset='utf8mb4', use_unicode=True, cursorclass=pymysql.cursors.DictCursor)

cur = conn.cursor()

#프로시져 호출

cur.callproc("pet_select")
if( cur.rowcount ):
    print(cur.fetchall())
cur.close()
conn.close

[{'id': 41, 'name': '귀염', 'owner': 'acorn', 'species': '강아지', 'sex': 'f', 'birth': datetime.date(2014, 3, 1), 'death': datetime.date(2016, 9, 1)}, {'id': 42, 'name': '돌이', 'owner': 'acorn', 'species': '곰', 'sex': 'f', 'birth': datetime.date(2014, 8, 1), 'death': datetime.date(2018, 2, 1)}, {'id': 43, 'name': '대한', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 2, 4), 'death': None}, {'id': 44, 'name': '민국', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'death': None}, {'id': 45, 'name': '만세', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2015, 8, 27), 'death': None}, {'id': 46, 'name': '하자', 'owner': '민주', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2010, 5, 13), 'death': None}, {'id': 47, 'name': '성공', 'owner': '자유', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2017, 8, 31), 'death': datetime.date(2018, 4, 29)}]

In [ ]:
# 문제 insert 를 하는 프로시져를 생성한 다음
("마음이", "acorn", "백구", 'f', '2018-01-02', '2018-11-04') 데이터를 입력하시요

# pet_insert 저장프로시져 만들어줌

In [77]:
conn = pymysql.connect(host='192.168.1.248',
                      user='root', port=3306, password='123', db='acornschool',
                      charset='utf8mb4', use_unicode=True, cursorclass=pymysql.cursors.DictCursor)

cur = conn.cursor()
data = ("마음이", "acorn", "백구", 'f', '2018-01-02', '2018-11-04') 
cur.callproc('pet_insert',data)
conn.commit()

In [ ]:
# 문제 : 이름을 update 하는 프로시져를 작성하고 마음이를 마음으로 수정하시요

In [81]:
cur.callproc("pet_update", searchname="마음", updatename="마음이")
conn.commit()



cur.close()
conn.close

TypeError: callproc() got an unexpected keyword argument 'searchname'

# pet_update 저장프로시져 만들어줌

In [11]:
conn = pymysql.connect(host='192.168.1.248',
                      user='root', port=3306, password='123', db='acornschool',
                      charset='utf8mb4', use_unicode=True, cursorclass=pymysql.cursors.DictCursor)

cur = conn.cursor()

data = ("마음2", "마음", 0)
cur.callproc('pet_update', data)
cur.execute('SELECT @_pet_update_2') #이름이 결정 # return값을 받을수 있다
#                               _0, _1, _2  data에서 가져옴??
result = cur.fetchone()
print(result['@_pet_update_2']) #키이데이터 형식
if result['@_pet_update_2'] == 2 :
    print("수정할 이름이 없습니다")
else :
    print("성공적으로 수정되었습니다. ")

conn.commit()

2
수정할 이름이 없습니다

# pet_delete 저장프로시져 만들어줌

In [13]:
data =("귀염", 0)
cur.callproc('pet_delete', data)
cur.execute('SELECT @_pet_delete_1')
result = cur.fetchone()
print(result['@_pet_delete_1'])
if result['@_pet_delete_1'] ==2 :
    print("삭제할 이름이 없습니다. ")
else :
    print(" 성공적으로 삭제하였습니다 ")

conn.commit()

2
삭제할 이름이 없습니다.

In [ ]:
try : #exception : 예외처리 ( 프로그램은 지속적으로 실행되어야 하므로)
    # try 가 안되면 => except : 로 실행해라

data =("귀염", 0)
cur.callproc('pet_delete', data)
cur.execute('SELECT @_pet_delete_1')

conn.commit()
result = cur.fetchone()
print(result['@_pet_delete_1'])
if result['@_pet_delete_1'] ==2 :
    print("삭제할 이름이 없습니다. ")
else :
    print(" 성공적으로 삭제하였습니다 ")

except :
    db.rollback() #전부다 삭제해라

cur.close()
conn.close