In [15]:
city = "1,2,3".split(',')
city

['1', '2', '3']

In [17]:
print(city)

#print 함수를 쓰면 out창에 안나타나는데 ? 뭐의 차이인거지??

['1', '2', '3']

In [18]:
','.join(city)

'1,2,3'

In [24]:
s= "gina"
print(s.capitalize())

s.find('i')

Gina

1

In [26]:
s.find('y') # -1 이 뭔지 모르겠음, 안나왔으면 0 인거지 왜 -1 이야????

-1

In [29]:
s.count('na')

1

In [30]:
s.isdigit()

False

In [32]:
s.replace('g','G')

'Gina'

In [35]:
list ='4,7,9'.split(',')
print(list)
print(sum(list)) #여기에 list 에는 문자열로 인식됨

['4', '7', '9']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
list= [4,7,9]
sum(list)

20

In [41]:
x= 100
def myfunc():
    x=500
    print(x)
myfunc()
x

500

100

In [42]:
# 내가 지정한 사용자 정의함수에 의해
# myfunc( 주소값 ) : 결국 def 에 의해서 x=500 이라는 데이터를 불러옴

In [46]:
x =5
y= 8
x, y= y, x
x, y


#swaping 가능

(8, 5)

In [49]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [52]:
a[3]

['a', 'b', 'c']

In [55]:
a[3][1] 
# python에서는 첫번째 인덱스 정의는 0 ->자꾸 까먹고 1을 넣게되는 건 습관,

'b'

In [59]:
a=[['a',100,200], ['1', 95, 99], ['d', 80, 90]]
a[1][0] #2차원 리스트, 2차원 <- list 안에 list

'1'

In [83]:
a= [10, 20, 30, 40, 50]
a.append(60)
a

[10, 20, 30, 40, 50, 60]

In [89]:
a.pop() #누를때 마다 가장 마지막 인덱스 제거함, 4번 눌렀더니 30 out 나온수까지 삭제됨

30

In [90]:
a

[10, 20]

In [79]:
a.append([30, 40, 50, 60]) # append 로 넣으면 list 안에 list 로 들어감
a

[10, 20, [30, 40, 50, 60], [30, 40, 50, 60]]

In [91]:
a.append(30, 40, 50, 60)
a

TypeError: append() takes exactly one argument (4 given)

In [94]:
b=(30, 40, 50, 60)
a.append(b) # append 로 list 안에 () :tuple 로 들어감
a

[10, 20, (30, 40, 50, 60), (30, 40, 50, 60), (30, 40, 50, 60)]

In [96]:
a= [10, 20, 30, 40, 50] 
a.append(60)
a

[10, 20, 30, 40, 50, 60]

In [100]:
a.pop()

30

In [1]:
a.extend([30,40,50,60]) # list 안에 list 가 아닌 수로 넣고 싶을때
a

NameError: name 'a' is not defined