In [87]:
import pymysql
conn = pymysql.connect(host='192.168.1.248', user='root', port=3306, password='123', db='team',
                      charset='utf8mb4', use_unicode=True, autocommit=True)
cur = conn.cursor() #데이터베이스 연결 connect / cursor 처리

cur.execute("SHOW TABLES")
tables = cur.fetchall()
c=[]
for i in tables:
    if i ==('b_Rteam2',):
        c.append(i)
    if len(c) !=0:
        team_table = "select * from big_R2"
        cur.execute(team_table)
        print('테이블이 있습니다')
    else:
        cur.execute("CREATE TABLE big_R2(number INT, name VARCHAR(20), sex CHAR(1), tel CHAR(12), dep VARCHAR(20), city VARCHAR(20))" )
        print('team 테이블을 생성하였습니다. ')

team 테이블을 생성하였습니다.

InternalError: (1050, "Table 'big_R2' already exists")

In [89]:
import pymysql
conn = pymysql.connect(host='192.168.1.248', user='root', port=3306, password='123', db='team',
                      charset='utf8mb4', use_unicode=True, autocommit=True)
cur = conn.cursor() #데이터베이스 연결 connect / cursor 처리

cur.execute( '''CREATE TABLE bigdata_Rteam2 (number INT NOT NULL AUTO_INCREMENT, 
                name VARCHAR(20), sex CHAR(1), tel CHAR(12), dep VARCHAR(20), city VARCHAR(20),
                PRIMARY KEY (number)) Engine=InnoDB  AUTO_INCREMENT=1''')
print(cur.description)
conn.close

InternalError: (1050, "Table 'bigdata_Rteam2' already exists")

In [91]:
conn = pymysql.connect(host='192.168.1.248', user='root', port=3306, password='123', db='team',
                      charset='utf8mb4', use_unicode=True, autocommit=True)
cur = conn.cursor() #데이터베이스 연결 connect / cursor 처리

# 데이터 입력하기
sql = '''INSERT INTO bigdata_Rteam2 ( name, sex, tel, dep, city)
        VALUES(%s, %s, %s, %s, %s)'''
cur.execute(sql, ('김은민(조장)', '여', '010-000-0000', '통계학과', '서울'))
cur.execute(sql, ('김동현', '남', '010-111-0000', '컴퓨터공학과', '제주'))
cur.execute(sql, ('송지영', '여', '010-222-0000', '유전공학과', '서울'))
cur.execute(sql, ('윤지혜', '여', '010-333-0000', '불어불문학과', '서울'))
conn.commit

In [93]:
conn = pymysql.connect(host='192.168.1.248', user='root', port=3306, password='123', db='team',
                      charset='utf8mb4', use_unicode=True, autocommit=True)
cur = conn.cursor() #데이터베이스 연결 connect / cursor 처리

# 데이터 입력하기
sql = '''INSERT INTO big_R2 (number,name, sex, tel, dep, city)
        VALUES(%s, %s, %s, %s, %s, %s)'''
cur.execute(sql, (1, '김은민(조장)', '여', '010-000-0000', '통계학과', '서울'))
cur.execute(sql, (2, '김동현', '남', '010-111-0000', '컴퓨터공학과', '제주'))
cur.execute(sql, (3, '송지영', '여', '010-222-0000', '유전공학과', '서울'))
cur.execute(sql, (4, '윤지혜', '여', '010-333-0000', '불어불문학과', '서울'))
conn.commit

In [49]:
conn = pymysql.connect(host='192.168.1.248', user='root', port=3306, password='123', db='team',
                      charset='utf8mb4', use_unicode=True, autocommit=True)
cur = conn.cursor() #데이터베이스 연결 connect / cursor 처리

cur.execute("SHOW TABLES")
tables = cur.fetchall()
c=[]
for i in tables:
    if i ==('bigdate',):
        c.append(i)
    if len(c) !=0:
        team_table = "select * from bigdata"
        cur.execute(team_table)
        print('테이블이 있습니다')
    else:
        cur.execute("CREATE TABLE bigdata(number INT DEFAULT 0 , name VARCHAR(20), city VARCHAR(20))")
        print('bigdata 테이블을 생성하였습니다. ')

InternalError: (1050, "Table 'bigdata' already exists")

In [50]:
sql = '''INSERT INTO bigdata (number, name, city) VALUES( %d, %s, %s)'''
cur.execute(sql,( 1 ,'강승웅',None))
cur.execute(sql,( 2 ,'강영훈',None))
cur.execute(sql,( 3 ,'김대현',None))
cur.execute(sql,( 4 ,'김동현','제주'))
cur.execute(sql,( 5 ,'김민범','서울'))
cur.execute(sql,( 6 ,'김신혁',None))
cur.execute(sql,( 7 ,'김은민','서울'))
cur.execute(sql,( 8 ,'김주현',None))
cur.execute(sql,( 9 ,'김호경','제주'))
cur.execute(sql,( 10 ,'박민혁',None))
cur.execute(sql,( 11 ,'박주은','제주'))
cur.execute(sql,( 12 ,'송지영','서울'))
cur.execute(sql,( 13 ,'윤지혜','서울'))
cur.execute(sql,( 14 ,'이소정',None))
cur.execute(sql,( 15 ,'이윤지',None))
cur.execute(sql,( 16 ,'이현창',None))
cur.execute(sql,( 17 ,'임민혁',None))
cur.execute(sql,( 18 ,'임영택','None'))
cur.execute(sql,( 19 ,'장하림','해외'))
cur.execute(sql,( 20 ,'정규진','서울'))
cur.execute(sql,( 21 ,'차진욱','제주'))
cur.execute(sql,( 22 ,'최서윤','서울'))
cur.execute(sql,( 23 ,'현동협',None))
cur.execute(sql,( 24 ,'김동훈(반장)','제주'))
conn.commit

TypeError: %d format: a number is required, not str

In [47]:
cur.executemany('''INSERT INTO bigdata (number, name, city) VALUES( %d, %s, %s)''', 
                [( 1 ,'강승웅',None),( 2 ,'강영훈',None),( 3 ,'김대현',None),( 4 ,'김동현','제주'),( 5 ,'김민범','서울'),
                 ( 6 ,'김신혁',None),( 7 ,'김은민','서울'),( 8 ,'김주현',None),( 9 ,'김호경','제주'),( 10 ,'박민혁',None),
                 ( 11 ,'박주은','제주'),( 12 ,'송지영','서울'),( 13 ,'윤지혜','서울'), ( 14 ,'이소정',None),( 15 ,'이윤지',None),
                 ( 16 ,'이현창',None),( 17 ,'임민혁',None),( 18 ,'임영택','None'),( 19 ,'장하림','해외'),( 20 ,'정규진','서울'),
                 ( 21 ,'차진욱','제주'),( 22 ,'최서윤','서울'),( 23 ,'현동협',None)],( 24 ,'김동훈(반장)','제주'))

conn.commit
print(cur.rowcount)

TypeError: %d format: a number is required, not str

In [51]:
data= ( 1 ,'강승웅',None)
cur.callproc('bigdata_insert',data )
conn.commit

# insert commit 으로 데이터 넣어줌 = 위에 왜 %d 숫자가 안들어가는지 모르겠음

In [56]:
data=( 1 ,'강승웅',None);cur.callproc('bigdata_insert',data )
data=( 2 ,'강영훈',None);cur.callproc('bigdata_insert',data )
data=( 3 ,'김대현',None);cur.callproc('bigdata_insert',data )
data=( 4 ,'김동현','제주');cur.callproc('bigdata_insert',data )
data=( 5 ,'김민범','서울');cur.callproc('bigdata_insert',data )
data=( 6 ,'김신혁',None);cur.callproc('bigdata_insert',data )
data=( 7 ,'김은민','서울');cur.callproc('bigdata_insert',data )
data=( 8 ,'김주현',None);cur.callproc('bigdata_insert',data )
data=( 9 ,'김호경','제주');cur.callproc('bigdata_insert',data )
data=( 10 ,'박민혁',None);cur.callproc('bigdata_insert',data )
data=( 11 ,'박주은','제주');cur.callproc('bigdata_insert',data )
data=( 12 ,'송지영','서울');cur.callproc('bigdata_insert',data )
data=( 13 ,'윤지혜','서울');cur.callproc('bigdata_insert',data )
data=( 14 ,'이소정',None);cur.callproc('bigdata_insert',data )
data=( 15 ,'이윤지',None);cur.callproc('bigdata_insert',data )
data=( 16 ,'이현창',None);cur.callproc('bigdata_insert',data )
data=( 17 ,'임민혁',None);cur.callproc('bigdata_insert',data )
data=( 18 ,'임영택','None');cur.callproc('bigdata_insert',data )
data=( 19 ,'장하림','해외');cur.callproc('bigdata_insert',data )
data=( 20 ,'정규진','서울');cur.callproc('bigdata_insert',data )
data=( 21 ,'차진욱','제주');cur.callproc('bigdata_insert',data )
data=( 22 ,'최서윤','서울');cur.callproc('bigdata_insert',data )
data=( 23 ,'현동협',None);cur.callproc('bigdata_insert',data )
data=( 24 ,'김동훈(반장)','제주');cur.callproc('bigdata_insert',data )

conn.commit

In [59]:
cur.callproc("bigdata_select")
if( cur.rowcount ):
    print(cur.fetchall())

((1, '강승웅', None), (2, '강영훈', None), (3, '김대현', None), (4, '김동현', '제주'), (5, '김민범', '서울'), (6, '김신혁', None), (7, '김은민', '서울'), (8, '김주현', None), (9, '김호경', '제주'), (10, '박민혁', None), (11, '박주은', '제주'), (12, '송지영', '서울'), (13, '윤지혜', '서울'), (14, '이소정', None), (15, '이윤지', None), (16, '이현창', None), (17, '임민혁', None), (18, '임영택', 'None'), (19, '장하림', '해외'), (20, '정규진', '서울'), (21, '차진욱', '제주'), (22, '최서윤', '서울'), (23, '현동협', None), (24, '김동훈(반장)', '제주'))

# bigdata update 프로시져 만들어줌, 친구들 city 수정하기

In [65]:
# 빅민혁이라는 친구를 select 한뒤에 고쳐줘야하는데.....
data=(None, "제주", 0 )
cur.callproc('bigdata_update',data)
cur.execute('select @_bigdata_update_2')
result =cur.fetchone()

In [94]:
cur.execute("""select * from bigdata;""")
bigdata2=cur.fetchall()
for bigdata in bigdata2:
    big_data = list(bigdata.vlaues())
    print("nu.1=%d, 이름=%s, 대학교위치=%s" % (big_data[0], big_data[1], big_data[2]) )
    # 왜 에러가 뜨니????

AttributeError: 'tuple' object has no attribute 'vlaues'

# 새로운 테이블 만들기

In [96]:
import pymysql
conn = pymysql.connect(host='192.168.1.248', user='root', port=3306, password='123', db='team',
                      charset='utf8mb4', use_unicode=True, autocommit=True)
cur = conn.cursor() 

cur.execute("""CREATE TABLE student(id CHAR(9), name VARCHAR(48) NOT NULL, belong VARCHAR(5) NOT NULL,
            phone VARCHAR(11), status INT DEFAULT 0)""")
conn.commit

In [97]:
cur.execute("""CREATE TABLE department(id INT PRIMARY KEY AUTO_INCREMENT,department_code CHAR(5) NOT NULL)""")
conn.commit