In [ ]:
# 국내 발생현황 데이터페이지
http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=1&brdGubun=11&ncvContSeq=&contSeq=&board_id=&gubun=

In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import urllib.request
import pandas as pd

html = urlopen("http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=1&brdGubun=11&ncvContSeq=&contSeq=&board_id=&gubun=")
source = html.read()
html.close()

soup = BeautifulSoup(source, 'lxml')
table = soup.find("div", class_ = "data_table mgt16")
tables1 = table.find_all("th")
tables2 = table.find_all("td")

status = []
for i in range(0,len(tables1)) :
    a = tables1[i].get_text()
    status.append(a)

num=[]
for i in range(0, len(tables2)) :
    a = tables2[i].get_text()
    num.append(a)

tot = []
tot.append(num)
tot = pd.DataFrame(tot)

tot.rename(columns={tot.columns[0] : status[0],
                            tot.columns[1] : status[1],
                            tot.columns[2] : status[2],
                            tot.columns[3] : status[3]})

    확진환자   격리해제    격리중  사망
0  8,413  1,540  6,789  84

In [5]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import urllib.request
import pandas as pd

html = urlopen("http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=1&brdGubun=11&ncvContSeq=&contSeq=&board_id=&gubun=")
source = html.read()
html.close()

soup = BeautifulSoup(source, 'lxml')
table = soup.find("div", class_ = "data_table mgt16 mini")
tables1 = table.find_all("th")
tables2 = table.find_all("td")
#print(tables1)


col = ["isolated","released","deceased","confirmed","negative","test-active","active","test"]
print(col)


num=[]
for i in range(0, len(tables2)) :
    a = tables2[i].get_text()
    num.append(a)
    
print(num)

test_status = []
test_status.append(num)
test_status = pd.DataFrame(test_status)

test_status =test_status.rename(columns = {test_status.columns[0]: col[0],
                             test_status.columns[1]: col[1],
                             test_status.columns[2]: col[2],
                             test_status.columns[3]: col[3],
                             test_status.columns[4]: col[4],
                             test_status.columns[5]: col[5],
                             test_status.columns[6]: col[6],
                             test_status.columns[7]: col[7]})

test_status = pd.DataFrame(test_status, columns=['test','active','negative','confirmed',
                           'released','isolated','deceased'])
test_status

['isolated', 'released', 'deceased', 'confirmed', 'negative', 'test-active', 'active', 'test']
['6,789', '1,540', '84', '8,413', '270,888', '279,301', '16,346', '295,647']

      test  active negative confirmed released isolated deceased
0  295,647  16,346  270,888     8,413    1,540    6,789       84

In [24]:
html = urlopen("http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=1&brdGubun=11&ncvContSeq=&contSeq=&board_id=&gubun=")
source = html.read()
html.close()

soup = BeautifulSoup(source, 'lxml')
table = soup.find("div", class_ = "data_table tbl_scrl_mini2 mini")
tables1 = table.find_all("table", class_ = "num")
tables2 = table.find_all("td")
tables3 = table.find_all("td", class_ ="ta_r")
#print(tables3)

# 3월16일 00시 기준
print('3월16일 00시 기준')
death = table.find("td", class_ ="ta_r").get_text()
fatal= tables2[3].get_text()
print('전체 사망자' ,death,"명", fatal)

male= tables3[1].get_text()
male_pro =tables3[2].get_text()
female= tables3[3].get_text()
female_pro= tables3[4].get_text()
print('남자', male,male_pro)
print('여자', female,female_pro)

# 연령대별 사망자
table=[]
age_30= tables3[5].get_text()
age_40= tables3[7].get_text()
age_50= tables3[9].get_text()
age_60= tables3[11].get_text()
age_70= tables3[13].get_text()
age_80= tables3[15].get_text()

# 데이터프레임 만들기
col = [male, female, age_30, age_40, age_50, age_60, age_70, age_80]
col_name = ['male', 'female','30-39', '40-49', '50-59', '60-69', '70-79', '80-']
table.append(col)
age_table = pd.DataFrame(table)
age_table.columns = col_name
age_table

3월16일 00시 기준
전체 사망자 75 명  치명률(확진자 8,236명 중) 0.91%
남자 41 54.7%
여자 34 45.3%

  male female 30-39 40-49 50-59 60-69 70-79 80-
0   41     34     1     1     6    14    28  25

In [97]:
tables2

[<td headers="d_type1 d_type2_01">-</td>,
 <td class="ta_r">75</td>,
 <td></td>,
 <td> 치명률(확진자 8,236명 중) 0.91% </td>,
 <td headers="d_type1 d_type2_02">남</td>,
 <td class="ta_r">41</td>,
 <td class="ta_r">54.7%</td>,
 <td rowspan="2"></td>,
 <td headers="d_type1 d_type2_02">여</td>,
 <td class="ta_r">34</td>,
 <td class="ta_r">45.3%</td>,
 <td headers="d_type1 d_type2_03">30대	</td>,
 <td class="ta_r">1</td>,
 <td class="ta_r">1.3%</td>,
 <td rowspan="6">평균 74.2세(35세∼93세)</td>,
 <td headers="d_type1 d_type2_03">40대</td>,
 <td class="ta_r">1</td>,
 <td class="ta_r">1.3%</td>,
 <td headers="d_type1 d_type2_03">50대</td>,
 <td class="ta_r">6</td>,
 <td class="ta_r">8.0%</td>,
 <td headers="d_type1 d_type2_03">60대</td>,
 <td class="ta_r">14</td>,
 <td class="ta_r">18.7%</td>,
 <td headers="d_type1 d_type2_03">70대</td>,
 <td class="ta_r">28</td>,
 <td class="ta_r">37.3%</td>,
 <td headers="d_type1 d_type2_03">80대≤</td>,
 <td class="ta_r">25</td>,
 <td class="ta_r">33.3%</td>,
 <td headers="d_type1 d_type2_04">30대  (확진자   849명)</td>,
 <td class="ta_r">1</td>,
 <td class="ta_r">0.12%</td>,
 <td rowspan="6"></td>,
 <td headers="d_type1 d_type2_04">40대  (확진자 1,147명) </td>,
 <td class="ta_r">1</td>,
 <td class="ta_r">0.09%</td>,
 <td headers="d_type1 d_type2_04">50대  (확진자 1,585명)</td>,
 <td class="ta_r">6</td>,
 <td class="ta_r">0.38%</td>,
 <td headers="d_type1 d_type2_04">60대  (확진자 1,024명)</td>,
 <td class="ta_r">14</td>,
 <td class="ta_r">1.37%</td>,
 <td headers="d_type1 d_type2_04">70대  (확진자   531명)</td>,
 <td class="ta_r">28</td>,
 <td class="ta_r">5.27%</td>,
 <td headers="d_type1 d_type2_04">80대≤(확진자  270명)</td>,
 <td class="ta_r">25</td>,
 <td class="ta_r">9.26%</td>,
 <td headers="d_type1 d_type2_05">순환기계 질환 <span class="txt_ntc">(*)</span></td>,
 <td class="ta_r">47</td>,
 <td class="ta_r">62.7%</td>,
 <td rowspan="9">
 <ul class="s_listin_mini ta_l">
 <li><span class="txt_ntc">(*)</span> 심근경색, 뇌경색, 부정맥, 고혈압 등 </li>
 <li><span class="txt_ntc">(**)</span> 당뇨병, 갑상선기능저하증 등</li>
 <li><span class="txt_ntc">(***)</span> 치매, 조현병 등</li>
 <li><span class="txt_ntc">(****)</span> 천식, 만성폐쇄성폐질환, 폐렴 등</li>
 </ul>
 </td>,
 <td headers="d_type1 d_type2_05">내분비계 및 대사성 질환 <span class="txt_ntc">(**)</span></td>,
 <td class="ta_r">35</td>,
 <td class="ta_r">46.7%</td>,
 <td headers="d_type1 d_type2_05">정신질환 <span class="txt_ntc">(***)</span></td>,
 <td class="ta_r">19</td>,
 <td class="ta_r">25.3%</td>,
 <td headers="d_type1 d_type2_05">호흡기계 질환 <span class="txt_ntc">(****)</span></td>,
 <td class="ta_r">18</td>,
 <td class="ta_r">24.0%</td>,
 <td headers="d_type1 d_type2_05">비뇨·생식기계 질환</td>,
 <td class="ta_r">11</td>,
 <td class="ta_r">14.7%</td>,
 <td headers="d_type1 d_type2_05">악성신생물(암)</td>,
 <td class="ta_r">10</td>,
 <td class="ta_r">13.3%</td>,
 <td headers="d_type1 d_type2_05">신경계 질환 등</td>,
 <td class="ta_r">3</td>,
 <td class="ta_r">4.0%</td>,
 <td headers="d_type1 d_type2_05">소화기계 질환</td>,
 <td class="ta_r">2</td>,
 <td class="ta_r">2.7%</td>,
 <td headers="d_type1 d_type2_05">혈액 및 조혈계 질환</td>,
 <td class="ta_r">1</td>,
 <td class="ta_r">1.3%</td>,
 <td headers="d_type1 d_type2_06">65세 이상</td>,
 <td class="ta_r">61</td>,
 <td class="ta_r">81.3%</td>,
 <td rowspan="2"></td>,
 <td headers="d_type1 d_type2_06">기저질환 있음</td>,
 <td class="ta_r">74</td>,
 <td class="ta_r">98.7%</td>,
 <td headers="d_type1 d_type2_07">신천지 관련 <span class="txt_ntc">(*)</span></td>,
 <td class="ta_r">16</td>,
 <td class="ta_r">21.3%</td>,
 <td rowspan="4">
 <ul class="s_listin_mini ta_l">
 <li><span class="txt_ntc">(*)</span> 신천지신도 8명, 신천지관련 8명</li>
 </ul>
 </td>,
 <td headers="d_type1 d_type2_07">시설 및 병원</td>,
 <td class="ta_r">23</td>,
 <td class="ta_r">30.7%</td>,
 <td headers="d_type1 d_type2_07">확진자 접촉</td>,
 <td class="ta_r">7</td>,
 <td class="ta_r">9.3%</td>,
 <td headers="d_type1 d_type2_07">조사 중</td>,
 <td class="ta_r">29</td>,
 <td class="ta_r">38.7%</td>,
 <td headers="d_type1 d_type2_08">입원실</td>,
 <td class="ta_r">58</td>,
 <td class="ta_r">77.3%</td>,
 <td rowspan="3"></td>,
 <td headers="d_type1 d_type2_08">응급실</td>,
 <td class="ta_r">15</td>,
 <td class="ta_r">20.0%</td>,
 <td headers="d_type1 d_type2_08">자택</td>,
 <td class="ta_r">2</td>,
 <td class="ta_r">2.7%</td>]

In [98]:
tables3

[<td class="ta_r">75</td>,
 <td class="ta_r">41</td>,
 <td class="ta_r">54.7%</td>,
 <td class="ta_r">34</td>,
 <td class="ta_r">45.3%</td>,
 <td class="ta_r">1</td>,
 <td class="ta_r">1.3%</td>,
 <td class="ta_r">1</td>,
 <td class="ta_r">1.3%</td>,
 <td class="ta_r">6</td>,
 <td class="ta_r">8.0%</td>,
 <td class="ta_r">14</td>,
 <td class="ta_r">18.7%</td>,
 <td class="ta_r">28</td>,
 <td class="ta_r">37.3%</td>,
 <td class="ta_r">25</td>,
 <td class="ta_r">33.3%</td>,
 <td class="ta_r">1</td>,
 <td class="ta_r">0.12%</td>,
 <td class="ta_r">1</td>,
 <td class="ta_r">0.09%</td>,
 <td class="ta_r">6</td>,
 <td class="ta_r">0.38%</td>,
 <td class="ta_r">14</td>,
 <td class="ta_r">1.37%</td>,
 <td class="ta_r">28</td>,
 <td class="ta_r">5.27%</td>,
 <td class="ta_r">25</td>,
 <td class="ta_r">9.26%</td>,
 <td class="ta_r">47</td>,
 <td class="ta_r">62.7%</td>,
 <td class="ta_r">35</td>,
 <td class="ta_r">46.7%</td>,
 <td class="ta_r">19</td>,
 <td class="ta_r">25.3%</td>,
 <td class="ta_r">18</td>,
 <td class="ta_r">24.0%</td>,
 <td class="ta_r">11</td>,
 <td class="ta_r">14.7%</td>,
 <td class="ta_r">10</td>,
 <td class="ta_r">13.3%</td>,
 <td class="ta_r">3</td>,
 <td class="ta_r">4.0%</td>,
 <td class="ta_r">2</td>,
 <td class="ta_r">2.7%</td>,
 <td class="ta_r">1</td>,
 <td class="ta_r">1.3%</td>,
 <td class="ta_r">61</td>,
 <td class="ta_r">81.3%</td>,
 <td class="ta_r">74</td>,
 <td class="ta_r">98.7%</td>,
 <td class="ta_r">16</td>,
 <td class="ta_r">21.3%</td>,
 <td class="ta_r">23</td>,
 <td class="ta_r">30.7%</td>,
 <td class="ta_r">7</td>,
 <td class="ta_r">9.3%</td>,
 <td class="ta_r">29</td>,
 <td class="ta_r">38.7%</td>,
 <td class="ta_r">58</td>,
 <td class="ta_r">77.3%</td>,
 <td class="ta_r">15</td>,
 <td class="ta_r">20.0%</td>,
 <td class="ta_r">2</td>,
 <td class="ta_r">2.7%</td>]