
# 파이썬의 블록은 들여쓰기임 : 여러일을 묶는 역활
### : 조건문, 반복문, 함수에서 사용함

In [ ]:
if remainder ==0:
    print("짝수입니다. ")
    print("여러일, 원하는 멘트 넣어봐")
    print(" 들여쓰기 안하니까 SyntaxError: invalid syntax 라고 뜸")
else:
    print("홀수입니다. ")

# 사용자 정의 함수 def

# * :데이터가 합쳐져있는 (4,5)를 풀어줘라 - 
#정의함수의 연산을 가능하게 함

In [2]:
# 파이썬 함수 - 리턴값의 지정은 없음
# define 함수를 정의한다
def calc(a,b):         #함수의 역할 : 작업, 매개변수 : 작업을 할 때 필요한 데이터
    return a+b, a*b   # return 값 2개이상 가능한게 파이썬!
                      # 내가 지정한 사용자 정의함수를 이용해서
x,y = calc(3,4)       # x= 첫번째 리턴값 a+b,   y= 두번째 리턴값 a*b
print(x,y)
print(x)


x,y
args=(4,5)   # () : tuple 데이터가 되었음.
calc(*args) #포인터 < 지정함수( *데이터) >

7 12
7

(9, 20)

In [1]:
x = 300 #전역변수
def myfunc(): #함수도 리턴타입을 지정하지않음
    x = 200   #지역변수 : 함수와 생사를 같이함
    print(x)
myfunc()     # 함수를 호출하고 나면 x값에 대한 지역변수는 없어짐
print(x)     # 전역변수만 고대로 주소값 남음

200
300

### 문제. 어떤 수가 들어 오더라도 나머지가 0:가위, 1:바위, 2:보 로 출력하시오

In [23]:
number=int(input("수를 입력하시오"))
           
def myfunc(num):
    if num%3==0:
        print("가위")
    elif num%3==1:
        print("바위")
    else:
        print("보")
           
           
myfunc(number)

수를 입력하시오5
보

In [ ]:
# 조건문

In [24]:
print('점수입력:', end = '') #'\n' 역슬래쉬n 엔터: 줄바꿈

jumsu = int(input())
if jumsu >= 90: print('A')
elif jumsu >= 80: print('B')
elif jumsu >= 70: print('C')
elif jumsu >= 60: print('D')
else : print('F')

점수입력:90
A

### 다음 표(color와 mode에 따른 날씨)를 if문을 이용하여 출력하시오
        ( 반응에 따른 날씨 예측 프로그램 )
                      BLUE              RED
         STEADY       화창              비오는 날
        FLASHING      구름              눈오는 날

### 수입(revenue)과 지출(coats)을 입력받아 순수입을 출력하는 프로그램을 작성하시오

      - 제약조건 : 소수점 이하 2자리 까지 출력(round)
            : 수입과 지출이 동일한 경우를 고려하시요 (손익분기점)
            : 결과 출력시 경우에 따라 순수익, 순손실도 같이 출력하도록 하시요

In [19]:
# 3 항 연산자

x=5
ans = 'Non-negative' if x>=0 else 'Negative'
print(ans)

# 앞을 출력 if조건이면 else 조건이면 뒤에꺼 출력

Non-negative

In [36]:
city = '' # single quotation 사이에 아무것도 없으면 문자열 거짓
           # 공백으로 했을때 문자열 인식 - 값 도출
if city: #조건이 참인 경우만 실행
    print('empty city')

print(type(True))  # 0 이 아닌수. 'abs', [1,2,3..], (1,2,3..)
print(type(False)) # 0, "" , [], (), {}

if True :
    print('Good')
    
x =15
y =10
z= 20
print( x > y)
print( x > z and y >z)

# 산술, 관계, 논리 우선순위 : 
# 산술 > 관계 > 논리
print('e1:' , 3+7 > 5+1)

<class 'bool'>
<class 'bool'>
Good
True
False
e1: True

## 문자열 거짓 : 아무것도 없을때 ' ' 공백도 문자열
## 숫자의 거짓 : 0
## list의 거짓:[]
## dict의 거짓 : {}
## tuple의 거짓 : ()

In [ ]:
# 날짜의 입력은 문자열
# 특수하게 해석해서 년월일로 해석

import datetime
dt = datetime.datetime.now()   #함수는 () 사용해야함
print(dt)
print()

# 데이터입력
age=input("생년월인(19951031)을 입력하시오")

# 데이터 처리
year = int(age[0:4]) # 인덱싱 위치로 read    #마지막은 미포함
month = int(age[4:6])
day = int(age[6:])

# 빼기 연산
# 분산 : 상계방지 (제곱)
year_diff = dt.year - year
month_diff = dt.month - month
day_diff = dt.day -day
if day_diff < 0 :  # 일 내림 처리
    month_diff -=1
if month_diff <0 : # 월 내림 처리
    year_diff -=1
print("당신의 나이는", year_diff + 1)
if year_diff < 18 :
    print("당신은 미성년자입니다.")
else :
    print("당신은 미성년자가 아닙니다.")

### 데이터 입력 -> 처리(연산자), 
###              제어문(판단문, 
### 한가지 규칙을 정해서 여러데이터 적용 : 반복문)

# 반복문

# for
# for(i=0; i<100; 1++) 
{
}: 인덱스 오버플로우


# default :for in 문 으로 사용한다


# Iterable 자료형 반복
   : for i in 문에 올수 있는 자료형

##### 문자열, 리스트, 튜플, dictionary, 집합
      Collections : list, tuple, dict, set
      
##### iterable 리턴 함수 : range, reversed, enumerate, filter, mapmzip
iterator : range  (i=0; i<100; 1++) 와 같은 방법으로 사용 ( star, end, step)
generator : 데이터 생성 ( 실시간 데이터 생성하기 때문에 - (메모리 차지하지않음))
enumerate : 매핑 (0:earth, 1:air, 2:fire, 3: water)

In [38]:
# 데이터를 직접 for in 문에 넣어주는 방법

elements = ["earth", "air", "fire", "water"]
for i in elements:
    print(i, end= " ") #"\n" 끝이 줄바꿈
    
print()

for i in elements:
    print(i, end="," )

earth air fire water
earth,air,fire,water,

In [39]:
for i in range(5): #end
    print(i)

0
1
2
3
4

In [40]:
for i in range(2, 5): # start, end 처리
    print(i)

2
3
4

In [41]:
for i in range(0, 10, 2): # start, end , step 처리
    print(i)

0
2
4
6
8

In [42]:

for i in range(4): # 0,1,2,3
    print(i)
    print(elements[i])
    # print 에 인덱스 이용해서 데이터 로딩

0
earth
1
air
2
fire
3
water

In [45]:
# range는 객체(object)다
# for ~ in range 로 들어가야 인덱스 로딩 가능
ra = range(4)
print(ra)

# 안에 있는 내용을 확인하고 싶으면 list로 캐스팅
print(list(ra))


# 순서 거꾸로 가능
ra = reversed(range(4))
print(ra)
print(list(ra))

range(0, 4)
[0, 1, 2, 3]
<range_iterator object at 0x000001DC92728ED0>
[3, 2, 1, 0]

In [46]:
print(list(range(5, -1, -1)))

[5, 4, 3, 2, 1, 0]

In [59]:
sum =0
for x in range(1,11):
    # sum  = sum  + x
    sum+= x
    print(sum)
    
print('1 ~ 10 sum :', sum(range(1, 11)))

1
3
6
10
15
21
28
36
45
55

TypeError: 'int' object is not callable

In [ ]:
#파이썬에서 많이 쓰는 # 증가변수, 누적변수 익숙해질것
num1 = 6
num1 += 1 # num1 = num1 + 1
num2 = 7
num2 -=5 # num2 = num2 -5
num3 = 8
num3 /=2 # num3 = num3/2
print(num1, num2, round(num3))
num1 = 1
num1 *= 3
num2 = 2
num2 **=3 # ^, ** 승수
print(num1, num2)

# 중첩된 for 문

In [74]:

for x in range(2,4): #x =2 일때 ,  y= 2:9 / x =3일때, 또 반복루틴
    print()
    for y in range(2,10):
        print(x, '*', y, '=', x*y, end="         ")

2 * 2 = 4         2 * 3 = 6         2 * 4 = 8         2 * 5 = 10         2 * 6 = 12         2 * 7 = 14         2 * 8 = 16         2 * 9 = 18
3 * 2 = 6         3 * 3 = 9         3 * 4 = 12         3 * 5 = 15         3 * 6 = 18         3 * 7 = 21         3 * 8 = 24         3 * 9 = 27

In [78]:
for i in range(2,10):
    for j in range(1, 10):
        print( '{:4d}'.format(i * j), end="")
    print()

   2   4   6   8  10  12  14  16  18
   3   6   9  12  15  18  21  24  27
   4   8  12  16  20  24  28  32  36
   5  10  15  20  25  30  35  40  45
   6  12  18  24  30  36  42  48  54
   7  14  21  28  35  42  49  56  63
   8  16  24  32  40  48  56  64  72
   9  18  27  36  45  54  63  72  81

In [50]:
for x in range(2, 10):
    print()
    for y in range(2, 10):
        print(y,'*', x,'=', x*y, '\t', end=" ")

2 * 2 = 4 	 3 * 2 = 6 	 4 * 2 = 8 	 5 * 2 = 10 	 6 * 2 = 12 	 7 * 2 = 14 	 8 * 2 = 16 	 9 * 2 = 18
2 * 3 = 6 	 3 * 3 = 9 	 4 * 3 = 12 	 5 * 3 = 15 	 6 * 3 = 18 	 7 * 3 = 21 	 8 * 3 = 24 	 9 * 3 = 27
2 * 4 = 8 	 3 * 4 = 12 	 4 * 4 = 16 	 5 * 4 = 20 	 6 * 4 = 24 	 7 * 4 = 28 	 8 * 4 = 32 	 9 * 4 = 36
2 * 5 = 10 	 3 * 5 = 15 	 4 * 5 = 20 	 5 * 5 = 25 	 6 * 5 = 30 	 7 * 5 = 35 	 8 * 5 = 40 	 9 * 5 = 45
2 * 6 = 12 	 3 * 6 = 18 	 4 * 6 = 24 	 5 * 6 = 30 	 6 * 6 = 36 	 7 * 6 = 42 	 8 * 6 = 48 	 9 * 6 = 54
2 * 7 = 14 	 3 * 7 = 21 	 4 * 7 = 28 	 5 * 7 = 35 	 6 * 7 = 42 	 7 * 7 = 49 	 8 * 7 = 56 	 9 * 7 = 63
2 * 8 = 16 	 3 * 8 = 24 	 4 * 8 = 32 	 5 * 8 = 40 	 6 * 8 = 48 	 7 * 8 = 56 	 8 * 8 = 64 	 9 * 8 = 72
2 * 9 = 18 	 3 * 9 = 27 	 4 * 9 = 36 	 5 * 9 = 45 	 6 * 9 = 54 	 7 * 9 = 63 	 8 * 9 = 72 	 9 * 9 = 81

In [54]:
# 내장리스트 : 동적으로 데이터 생성
[i for i in range(10)]
# 리스트 부호 [] 안에서 반복문

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
# dictionary 안에 키 : 데이터 값
{i:i**3 for i in range(10)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [64]:
[i**2 for i in range(10) if i%2 == 0] #참인 조건 = 짝수인 경우만 print

[0, 4, 16, 36, 64]

In [66]:
a = [i**2 for i in range(10) if i%2 == 0]
a

[0, 4, 16, 36, 64]

## for r in rows :
##    for c in cols :
##         ( r , c )

In [68]:
rows = range(1, 5)
cols = range(10, 15)
vectors = [(r, c) for r in rows for c in cols]
vectors

[(1, 10),
 (1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (2, 10),
 (2, 11),
 (2, 12),
 (2, 13),
 (2, 14),
 (3, 10),
 (3, 11),
 (3, 12),
 (3, 13),
 (3, 14),
 (4, 10),
 (4, 11),
 (4, 12),
 (4, 13),
 (4, 14)]

In [69]:

# 앞이 참이면 뒤의 것은 계산하지 않음

# True ==1, False ==0
# 문자열 연산자 +, *(반복) 

[ "3의 배수 " * (i%3 == 0) + "5의 배수" * (i%5 == 0) or i for i in range(1,21)]

[1,
 2,
 '3의 배수 ',
 4,
 '5의 배수',
 '3의 배수 ',
 7,
 8,
 '3의 배수 ',
 '5의 배수',
 11,
 '3의 배수 ',
 13,
 14,
 '3의 배수 5의 배수',
 16,
 17,
 '3의 배수 ',
 19,
 '5의 배수']

In [ ]:
# 점수를 입력받아 A,B,C,D,F 학점을 출력하시요

# 무한루프 while True :

In [1]:
while True:
    print('점수 입력 :', end=' ')
    jumsu =int(input())
    if jumsu == 0 :
        break
    if jumsu >=90 : print('A')
    elif jumsu >= 80 : print('B')
    elif jumsu >= 70 : print('C')
    elif jumsu >= 60 : print('D')
    else : print('F')

점수 입력 : 90
A
점수 입력 : 0

## 문제 점수 입력 프로그램 작성하기 (3인분)
번호 , 이름, 국어, 영어, 수학 = 2차원 리스트로 만들어라

### 문제 합계와 평균을 구해서 리스트에 추가시켜 보시오.
### 이름순으로 정렬해서 리스트를 출력하시오.

## 문제 1 ) 제곱미터로 입력되는 아파트 면적을 평형으로 계산하여 

## 종류를 판정하시오

#(30평을 기준으로 판정)하는 프로그램 작성
#소형(17) 중소형(25) 중형 (30)
#평형수 = 제곱미터 / 3.305

In [2]:
area = int(input("면적을 입력하시오"))
room = area/3.305

print("아파트면적:",round(room,3), end="평형")

# 입력받은 수를 평형으로 계산 하였으니, 이제 종류를 판정하는 조건문을 만들것
if room>=30:
    print('아파트는 30평형 이상으로 대형입니다')
elif 30> room>=25:
    print('아파트는 25평형 이상이나 30평형 미만으로 중형입니다')
elif 25> room>=17:
    print('아파트는 17평형 이상이나 25평형 미만으로 중소형입니다')
else : print('아파트는 17평형 미만으로 소형입니다')

면적을 입력하시오50
아파트는 17평형 미만으로 소형입니다
아파트면적: 15.129평형

## 문제 2 ) 날 수를 입력하면 이를 초로 변경하는 프로그램 작성

In [6]:
day = int(input(" 날 수를 입력하시오"))
print( day*24*60*60, end="초")

 날 수를 입력하시오2
172800초

### 소득세 계산 : 소득 세율표를 구해보고 이를 이용하여 소득이 들어오면 세금이 얼마인지 계산해 보시오 ( 연봉. 단순히 세율만 적용합니다)

#1천만원 미만시 연봉 9.5%/ 1천~4천: 19% / 4천~8천 : 28% / 8천이상 : 37%

소득을 입력하시오: 120
나의 세금은 -201.4만원 입니다

## 놀이공원 매표소 단체 입장료 계산하기

### 조건 : 팀별 인원 구성을 입력

#( 초등, 청소년, 일반인, 경로대상) 
#정산요금 : 초등(5000원), 청소년(10000원), 일반인(15000원), 경로대상(3000원)

#팀별 할인 카드 확인
#카드없음 : 할인 무, 일반카드 : 10% , vip : 20%

In [18]:
ele=int(input("초등학생은 몇명입니까"))
under19=int(input("청소년은 몇명입니까"))
adult=int(input("일반인은 몇명입니까"))
old=int(input("경로대상 어른은 몇명입니까"))
card = int(input("할인카드가 있습니까? 없으면 :0, 일반카드:1, vip카드:2 를 입력하시오 "))
calc= ele*5000 + under19*10000 + adult*15000 + old*3000

#만약 할인카드가 있다면

if card== 2:
    calc*0.8
elif card ==1:
    calc*0.9
else card ==0:
    calc*1
    
print("총 계산요금은 :", round(calc,2), end="원입니다")

SyntaxError: invalid syntax (<ipython-input-18-7a43b3d50b53>, line 14)